<!DOCTYPE html>
<html>
  <body>
    <div class="addm">
      <h1>Add Munroes details</h1>
      <form action="" method="post" name="form">
      <label for="name">Munroe name:</label>
      <input type="text" name="name" id="name"/>
      <label for="description">Walk Description:</label>
      <input type="text" name="description" id="description"/>
      <label for="height">Height:</label>
      <input type="text" name="height" id="height"/>
      <label for="region">Region:</label>
      <input type="text" name="region" id="region"/>
      <input type="submit" name="submit" id="submit"/>
      </form>
    </div>
  </body>
</html>
